.header {
  padding-top: 28px;

  &__nav {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: $decor-line;
  }

  &__logo {
    width: 112px;
    height: 42px;
    margin-right: 103px;
  }

  &__menu {
    display: none;
  }

  &__nav-list {
    display: flex;
    gap: 54px;

    a {
      font-family: $secondary-font-family;
      font-weight: 500;
      line-height: 27px;
      font-size: 18px;
      color: $grey-color;
      text-decoration: none;
    }
  }

  &__controls {
    display: flex;
    gap: 9px;
    margin-left: auto;
  }

  &__button {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 27px;
  }

  &__login-button {
    color: $grey-color;
    font-family: $secondary-font-family;
  }

  &__sign-up-button {
    @include button;
    border-radius: 18px;
  }
}

@media (max-width: $tablet-width) {
  .header {
    padding-top: 20px;

    &__nav {
      padding-bottom: 18px;
    }

    &__logo {
      width: 80px;
      height: 30px;
      margin-right: 73px;
    }

    &__menu {
      display: none;
    }

    &__nav-list {
      gap: 38px;

      a {
        font-size: 13px;
        line-height: 19px;
      }
    }
    &__controls {
      gap: 6px;
    }

    &__button {
      font-size: 13px;
      line-height: 19px;
      padding: 13px 19px;
    }

    &__sign-up-button {
      border-radius: 13px;
    }
  }
}

@media (max-width: $mobile-width) {
  .header {
    padding-top: 33px;

    &__nav {
      padding-bottom: 31px;
      justify-content: space-between;
    }

    &__logo {
      width: 112px;
      height: 42px;
    }

    &__menu {
      display: block;
      width: 32px;
      height: 22px;
    }

    &__nav-list {
      display: none;

      a {
        font-family: $secondary-font-family;
        font-weight: 500;
        line-height: 27px;
        font-size: 18px;
        color: $grey-color;
        text-decoration: none;
      }
    }

    &__controls {
      display: none;
    }
  }
}
