.hero {
  padding-top: 49px;
  padding-bottom: 85px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__column {
    width: 596px;
    height: 492px;
  }
  &__dec-description {
    color: $light-grey-color-2;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    margin-bottom: 18px;
    position: relative;
    padding-left: 64px;

    &::before {
      position: absolute;
      left: 0;
      top: 7px;
      content: "";
      width: 54px;
      height: 1px;
      background-color: $light-grey-color-2;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 75px;
    line-height: 120%;
    color: $black-color;
    margin-bottom: 16px;

    span {
      color: $blue-color;
    }
  }

  &__description {
    color: $light-grey-color;
    font-family: $secondary-font-family;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 53px;
    width: 499px;

    span {
      color: $blue-color;
    }
  }

  &__buttons {
    display: flex;
    gap: 18px;
    margin-bottom: 33px;
  }
  &__button {
    @include button;
    font-family: $main-font-family;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    padding: 17px 30px;
    border-radius: 13px;
  }

  &__button-alt {
    color: $blue-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    padding: 16px 28px;
    border: solid 1.5px;
    border-color: $blue-color;
    border-radius: 12px;
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__photo {
    width: 680px;
    height: 607px;
  }
}
