@mixin button {
  font-family: $secondary-font-family;
  color: $white-color;
  background-color: $blue-color;
  text-align: center;
}

@mixin view-all-link {
  color: $light-grey-color-2;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  text-decoration: none;
  margin-right: 20px;
}

@mixin right-arrow {
  width: 25px;
  height: 25px;
}

@mixin title {
  color: $light-black-color;
  font-weight: 600;
  font-size: 45px;
  line-height: 26px;
}

@mixin title-2 {
  color: $black-color;
  font-weight: 700;
  font-size: 51px;
  line-height: 58px;
}

@mixin tag-yellow {
  color: #daa31a;
  background-color: #f7edd0;
}

@mixin tag-red {
  color: #fb471d;
  background-color: #f7c5ba;
}

@mixin tag-green {
  color: #309d5b;
  background-color: #b3e6c7;
}
