.promo {
  &__container {
    display: flex;
    align-items: center;
    gap: 219px;
    padding-left: 111px;
    padding-right: 22px;
    padding-top: 103px;
    padding-bottom: 98px;
    border-bottom: $decor-line;
  }

  &__screen {
    width: 371px;
    height: 625px;
  }

  &__column {
    width: 560px;
  }

  &__title {
    @include title-2;
    text-align: left;
    margin-bottom: 63px;
    position: relative;
    right: 25px;

    span {
      color: $blue-color;
    }
  }

  &__list {
    margin-bottom: 61px;

    li {
      list-style: disc;
    }
  }

  &__description {
    font-family: $secondary-font-family;
    color: $light-grey-color;
    font-size: 20px;
    line-height: 30px;
    width: 495px;
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__button {
    @include button;
    font-weight: 500;
    font-size: 18px;
    line-height: 22.5px;
    padding: 20px 26px;
    padding-right: 31px;
    border-radius: 15px;
    margin-left: 15px;
    position: relative;
    right: 40px;
  }

  &__button-arrow {
    width: 27px;
    height: 27px;
    position: relative;
    top: -1px;
    margin-left: 10px;
  }
  &__bg-arrow {
    transform: rotate(-3deg);
    position: relative;
    top: 45px;
    right: 67px;
  }
}
