.rating {
  display: flex;
  align-items: center;

  &__logo {
    width: 123px;
    height: 30px;
    margin-right: 20px;
  }

  &__stars {
    width: 96px;
    height: 15px;
    margin-right: 9px;
  }

  &__amount {
    font-family: $decor-font-family-2;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $light-grey-color-2;
  }
}

// tablet

@media (max-width: $tablet-width) {
  .rating {
    &__logo {
      width: 87px;
      height: 21px;
      margin-right: 14px;
    }

    &__stars {
      width: 68px;
      height: 11px;
      margin-right: 7px;
    }
    &__amount {
      font-size: 11px;
      line-height: 17px;
    }
  }
}

// mobile

@media (max-width: $mobile-width) {
  .rating {
    justify-content: center;

    &__logo {
      width: 98px;
      height: 24px;
      margin-right: 16px;
    }

    &__stars {
      width: 77px;
      height: 12px;
      margin-right: 7px;
    }

    &__amount {
      font-size: 13px;
      line-height: 19px;
    }
  }
}
