.restaurants {
  &__container {
    padding-top: 100px;
    padding-bottom: 120px;
    border-bottom: $decor-line;
  }

  &__title {
    @include title;
    margin-bottom: 86px;
    text-align: center;

    span {
      color: $blue-color;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__item {
    margin-bottom: 66px;
    border: 1px #f4f4f6 solid;
    width: 396px;
    box-shadow: 5.95px 71.35px 35.67px 0px #e5e5e5b2;
  }

  &__photo {
    width: 396px;
    height: 176px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }

  &__info {
    background-color: $white-color;
    padding-top: 11px;
    padding-bottom: 18px;
    padding-left: 34px;
    padding-right: 27px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  &__tag {
    font-size: 14px;
    line-height: 20px;
    padding: 3px 6px;
    margin-bottom: 1px;
    height: 25px;
    border-radius: 5px;

    &--yellow {
      @include tag-yellow;
      width: 66px;
    }

    &--red {
      @include tag-red;
      width: 74px;
    }
  }

  &__heading {
    color: $light-black-color;
    font-weight: 600;
    font-size: 26px;
    line-height: 42px;
    margin-bottom: 2px;
  }

  &__decor {
    font-family: $decor-font-family;
    color: $light-grey-color-2;
    font-size: 19px;
    line-height: 26px;
  }

  &__time {
    margin-right: 6px;
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__star {
    width: 17px;
    height: 17px;
    margin-right: 6px;
  }

  &__line {
    display: flex;
    align-items: center;
  }

  &__link {
    display: block;
    @include view-all-link;
    text-align: right;
  }

  &__right-arrow {
    @include right-arrow;
    position: relative;
    bottom: 2px;

    path {
      fill: $light-grey-color-2;
    }
  }

  &__bookmark {
    padding: 5px 6px;
    background-color: $light-blue-color;
    border-radius: 60px;
    width: 40px;
    height: 40px;
    margin-left: auto;
  }

  &__bookmark-img {
    width: 15px;
    height: 20px;
  }
}
