$white-color: #ffffff;
$blue-color: #6c5fbc;
$light-blue-color: #dbd9ee;
$light-blue-color-2: #c5bfed;
$grey-color: #606060;
$light-grey-color: #676767;
$light-grey-color-2: #acadb9;
$black-color: #201f1f;
$light-black-color: #323142;
$background-color: #f9f9f9;
$background-blue-color: #a596ff;
$border-color: #cbcbcb;

$tablet-width: 1440px;
$mobile-width: 1024px;

$main-font-family: "Poppins", sans-serif;
$secondary-font-family: "Inter", sans-serif;
$decor-font-family: "Manrope", sans-serif;
$decor-font-family-2: "Quicksand", sans-serif;

$decor-line: 1px solid $border-color;
